Repository phil65/ibadatfile: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, tombi-format, ruff, mypy

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  require_serial: true

ruff-fix:
  name: ruff-fix
  entry: uv run ruff check --fix
  language: system
  require_serial: true

tombi-format:
  name: tombi-format
  entry: uv run tombi format pyproject.toml
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: uv run ruff check
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

chore: bump version 1.1.1 -> 2.0.0
  pyproject.toml
Due: tombi-format

refactor: modernize code for Python 3.13 compatibility
  src/ibadatfile/ibadatfile.py
Due: ruff-format, ruff-fix, ruff, mypy

chore: bump version 2.0.0 -> 2.0.1
  pyproject.toml
Due: tombi-format

chore: bump version 2.0.1 -> 2.0.2
  pyproject.toml
Due: tombi-format

chore: bump copier template from v2.1.0 to v2.1.1
  .copier-answers.yml
  duties.py
  pyproject.toml
  src/ibadatfile/log.py
Due: ruff-format, ruff-fix, tombi-format, ruff, mypy

chore: copier update
  .copier-answers.yml
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  mkdocs.yml
  pyproject.toml
  src/ibadatfile/log.py
Due: ruff-format, ruff-fix, tombi-format, ruff, mypy

Path conditions:
  ruff-format: any of: \.py$
  ruff-fix: any of: \.py$
  tombi-format: any of: ^pyproject\.toml$
  ruff: any of: \.py$
  mypy: any of: \.py$
